.container {
  align-items: center;
  background: black;
  color: white;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 10;
}

.header {
  text-align: center;
}
